<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{loyaut/plantilla}">
<head>
    <meta charset="UTF-8">
    <title>home enf</title>
</head>
<body>

    <section class="container mb-4" layout:fragment="content">
        <h1>Hello Enf</h1>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-danger">Cerrar sesión</button>
        </form>
    </section>

</body>
</html>