<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="">
    <form th:action="@{/enf/}" class="row g-3 align-items-center" th:fragment="filtro">
        <div class="col-auto">
            <label class="form-label">Filtrar por: </label>
        </div>
        <div class="col-auto">
            <input class="form-control" type="text" name="filtro" placeholder="id, nombre, apellido...">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
</div>
</body>
</html>