<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{loyaut/plantilla}">
<head>
    <meta charset="UTF-8">
    <title th:text="'Historia de '+${pacienteNombre}"></title>
</head>
<body>

<section layout:fragment="content">
    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="mb-4">
                <h1 th:text="'Historial de Consultas de ' + ${pacienteNombre}" class="mb-3"></h1>

                <div th:if="${consultas.isEmpty()}">
                    <p>El paciente aún no tiene consultas.</p>
                </div>

                <a th:href="@{/consulta/nueva(historiaId=${historia.id})}" class="mb-3 d-inline-block">
                    <button class="btn" style="background-color: lightgreen">Nueva Consulta</button>
                </a>

                <div th:if="${!consultas.isEmpty()}">

                        <!-- Filtro de consultas -->
                        <form th:replace="loyaut/filtro-consultas::filtro"></form>

                        <!-- Tabla de consultas -->
                        <table class="table table-hover align-middle">
                            <thead class="table-light">
                            <tr>
                                <th>ID</th>
                                <th>Fecha</th>
                                <th>Motivo</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="consulta : ${consultas}">
                                <td th:text="${consulta.id}"></td>
                                <td th:text="${consulta.fechaHoraAtencion.format(formatoHora)}"></td>
                                <td th:text="${consulta.motivoConsulta}"></td>
                                <td>
                                    <div class="d-flex flex-wrap gap-2">
                                        <a th:href="@{/consulta/historia/}+@{${consulta.historiaClinica.id}(consulta=${consulta.id})}">
                                            <button class="btn" style="background-color: lightgreen" title="Editar">
                                                <i class="bi bi-pen"></i>
                                            </button>
                                        </a>
                                        <a th:href="@{/consulta/exportarInforme(consulta=${consulta.id})}">
                                            <button type="button" class="btn btn-primary" title="Exportar PDF">
                                                <i class="bi bi-file-earmark-pdf-fill"></i>
                                            </button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- Paginador -->
                        <nav th:replace="~{loyaut/paginator::paginator}"></nav>

                        <!-- Botón de regreso -->
                        <a th:href="@{/enf/}" class="btn btn-secondary mt-3">Regresar</a>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>