<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{loyaut/plantilla}">
<head>
    <meta charset="UTF-8">
    <title>historias</title>
</head>
<body>

<section layout:fragment="content">
    <div class="col-lg-7">
        <div class="col-md-7 mb-4">
            <h1 th:text="'Historial de Consultas de ' +${pacienteNombre}" class="mb-3"></h1>
            <div th:if="${consultas.consultas.isEmpty()}">
                <p>El paciente aun no tiene consultas</p>
            </div>
            <a th:href="@{nueva}">
                <button class="btn" style="background-color: lightgreen">Nueva Consulta</button>
            </a>
        </div>
        <div class="col-mb-10">
            <table class="table table-stripped">
                <thead>
                    <th>id</th>
                    <th>Fecha</th>
                    <th>Motivo</th>
                    <th>Ver</th>
                </thead>
                <tbody>
                    <div th:if="${!consultas.consultas.isEmpty()}">
                        <tr th:each="consulta:${consultas.consultas}">
                            <td th:text="${consulta.id}"></td>
                            <td th:text="${consulta.fechaHoraAtencion.format(formatoHora)}"></td>
                            <td th:text="${consulta.motivoConsulta}"></td>
                            <td><a href="#">ver</a></td>
                        </tr>
                    </div>

                </tbody>
            </table>
        </div>
    </div>

</section>

</body>
</html>