<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{loyaut/plantilla}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>welcome page</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container py-5">
        <div class="row align-items-center">
            <!-- Texto -->
            <div class="col-12 col-md-6 mb-4 mb-md-0">
                <h1 class="display-5 fw-bold">Bienvenido a Enf-Software</h1>
                <h3 class="mt-3">
                    Portal Web para<br>la Clínica de Heridas Enf-Sanar
                </h3>
                <div class="text-center text-md-start mt-4" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">
                        <button class="btn btn-lg" style="background-color: lightgreen">Ingresar</button>
                    </a>
                </div>
            </div>

            <!-- Imagen -->
            <div class="col-12 col-md-6 text-center">
                <img th:src="@{/images/LogoImageWEB.png}" class="img-fluid" alt="logo" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
</section>
</body>
</html>